<!DOCTYPE html>
<html>
  <head>
    <title>Bold | Luxury Without Labels</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link rel="icon" type="image/svg+xml" href="https://italic.com/static/icons/logo.svg">
    <meta name="keywords" content="luxury, discount, wholesale, sales, sale, activewear, sports, leggings, sweaters, shirts, pants, sneakers, flats, boots, handbags, bags, sunglasses, candles, towels, sheets, bedding, linen, cashmere, cast iron, cookware, kitchenware, leather, quality, premium, high-quality, membership, rewards, cashback, purses, wallets, savings" class="next-head">
    <meta name="author" content="Abigail Hernandez">
    <meta name="description" content="Clone of italic.com">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:title" content="Bold" />
    <meta property='og:image' content="<%= image_url('../../assets/images/thumbnail.png') %>"/>
    <meta property="og:description" content="An E-commerce Clone" />
    <meta property="og:url" content="https://bold-fullstack.herokuapp.com/#/" />
  </head>

  <body>
    <%= yield %>
  </body>
</html>
